<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kennitölur</title>
</head>
<body>
    <header>
        <h2>Kennitölur:</h2>
        <ol>
            <li>Jón Jónsson: <a href="/kennitala/1234567890">1234567890</a></li>
            <li>Jónína Jónsdóttir: <a href="/kennitala/0987654333">0987654333</a></li>
        </ol>
    </header>
</body>
</html>